<h1 class="row justify-content-center">Articles listing page</h1>

<div class="container">
  <%= render @articles %>
</div>


<p>
  <%= link_to "Create new article", new_article_path, class: "btn btn-primary" %>
</p>