<h1><%=@category.name %></h1>
<%= will_paginate @articles, list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next" %>  
<ul>
<% @articles.each do |article| %>

  <li><%= link_to article.title, article %></li>

<% end %>
</ul>